.index {
  min-height: 100vh;
  text-align: center;
  padding-top: 4vh;
  box-sizing: border-box;
  &-title {
    font-size: 36px;
    margin-top: 1.6em;
  }
  &-tips {
    margin: 2em 0 5em;
    font-size: 26px;
    color: #666;
  }
  &-button {
    background-color: rgb(48, 168, 38);
    color: #fff;
    font-size: 34px;
    width: 90%;
  }
}